@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
    overflow-x: hidden;
}

#slider {
    width: 80vw;
    height: 50vw;
    background-color: #ffffff00;
    margin: 5vh auto 0px;
    border: 3px solid white;
    border-radius: 10px;
    position: relative;
    overflow-y: hidden;
}

#sliderPhotos {
    display: flex;
    width: fit-content;
    height: 100%;
}

.sliderImage {
    width: 80vw;
    height: 100%;
    background-size: cover;
}

#sliderPosition {
    position: absolute;
    display: flex;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 5px;
}

.sliderPositionCount {
    width: 2vw;
    height: 2vw;
    border: 1px solid white;
    border-radius: 100px;
    z-index: 2;
}

.sliderPositionSelected {
    background-color: white;
}

@media only screen and (min-width: 1024px) {
    #slider {
        border: 0.7rem solid white;
        width: 64vw;
        height: 32vw;
        position: relative;
    }

    .sliderImage {
        width: 64vw;
    }

    #sliderPosition {
        bottom: 3%;
    }

    #sliderBtns{
        position: absolute;
        top: 0;
        display: flex;
        overflow: hidden;
        width: 100%;
        justify-content: space-between;
        height: 100%;
    }

    .sliderBtn{
        background-color: #ffffff00;
        color: #FFFFFF00;
        border: none;
        visibility: hidden;
        transition: 200ms;
    }

    #sliderBtns button span{
        overflow: hidden;
        font-size: 90px;
    }

    .btnVisible{
        visibility: visible;
        color: #FFFFFF;
    }

    .sliderPositionCount {
        transition: 200ms;
        width: 1vw;
        height: 1vw;
        border: 1px solid #FFFFFF00;
        background-color: #FFFFFF00;
    }
}
