@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

#menu {
    overflow: hidden;
}

#logo {
    width: 60%;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48;
}

header {
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
    header {
        padding: 2vw 0px;
        width: 85vw;
        margin: auto;
    }

    .menu {
        display: none!important;
    }

    header img {
        width: 20vw!important;
        height: fit-content!important;
    }

    #navDesktop {
        display: flex;
        gap: 3vw;
    }

    #navDesktop a,
    #linhaDoTempoDesktop p {
        text-decoration: none;
        color: black;
        font-size: 2.5rem;
    }

    #linhaDoTempoDesktop p {
        display: flex;
        overflow: hidden;
        cursor: pointer;
    }
    
    #linhaDoTempoDesktop p span{
        overflow: hidden;
        transition: 400ms;
    }

    #linhaDoTempoDesktop {
        display: flex;
        flex-direction: column;
        cursor: default;
    }

    #dropDownDesktop {
        z-index: 100;
        margin-top: 0.4vw;
        height: 0px;
        transition: 400ms;
        overflow: hidden;
    }

    #dropDownDesktop div {
        display: flex;
        flex-direction: column;
        gap: 0.4vw;
    }
}
